* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: none;
  font-family: "Courier New", Courier, monospace;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f59e0b;
  text-decoration: underline;
}

.nav {
  margin-top: 2rem;

  display: flex;
  gap: 3rem;
  justify-content: center;

  font-size: 32px;
  font-weight: 800;
}

.more {
  position: relative;
}

.dropdown {
  position: absolute;
}
